examples/flows.json
[{"id":"46d73083c16c56e3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1c01033500b330d2","type":"stream-write","z":"46d73083c16c56e3","stream":"b537301847f9d4b0","name":"","x":550,"y":160,"wires":[[],["7a506ae62802c887"]]},{"id":"10e7d8dac314e7c2","type":"inject","z":"46d73083c16c56e3","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[104,101,108,108,111]","payloadType":"bin","x":320,"y":160,"wires":[["1c01033500b330d2"]]},{"id":"7a506ae62802c887","type":"debug","z":"46d73083c16c56e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":280,"wires":[]},{"id":"4fdfb1a06d6ae94e","type":"stream-read","z":"46d73083c16c56e3","stream":"b537301847f9d4b0","name":"","x":520,"y":360,"wires":[["855e218a51a8cda7"],["1e20f88d89576ff6","786af6976de05985"],["7a506ae62802c887"]]},{"id":"634ad98d44f4d399","type":"inject","z":"46d73083c16c56e3","name":"start","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":230,"y":360,"wires":[["4fdfb1a06d6ae94e"]]},{"id":"7f6ed59b735de8f4","type":"stream-write","z":"46d73083c16c56e3","stream":"ed669fbcb3e48ce9","name":"","x":990,"y":440,"wires":[[],[]]},{"id":"1e20f88d89576ff6","type":"function","z":"46d73083c16c56e3","name":"store last seq read","func":"if (!msg.eob) {\n    b = Buffer.alloc(8);\n    b.writeBigUInt64BE(BigInt(msg.maxSeq));\n    msg.payload = b;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":420,"wires":[["7f6ed59b735de8f4"]]},{"id":"04f2826864c51f1d","type":"stream-read","z":"46d73083c16c56e3","stream":"ed669fbcb3e48ce9","name":"","x":530,"y":600,"wires":[["c71a8c50710c2db7"],[],[]]},{"id":"4f12cb4c148c638a","type":"inject","z":"46d73083c16c56e3","name":"restart","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":720,"wires":[["915e5a67062a5eb8"]]},{"id":"786af6976de05985","type":"function","z":"46d73083c16c56e3","name":"check for new msgs","func":"if (msg.eob) {\n    msg.desiredStartSequenceNumber = msg.maxSeq;\n} else {\n    msg.desiredStartSequenceNumber = msg.maxSeq+1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":500,"wires":[["4fdfb1a06d6ae94e"]]},{"id":"c71a8c50710c2db7","type":"function","z":"46d73083c16c56e3","name":"set desired seq number","func":"msg.payload = msg.payload.payload.readBigUInt64BE();\nmsg.desiredStartSequenceNumber = Number(msg.payload)+1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":480,"wires":[["4fdfb1a06d6ae94e"]]},{"id":"915e5a67062a5eb8","type":"stream-describe","z":"46d73083c16c56e3","stream":"ed669fbcb3e48ce9","name":"","x":280,"y":720,"wires":[["122af906cf27f32f"],[]]},{"id":"122af906cf27f32f","type":"function","z":"46d73083c16c56e3","name":"use last sequence number from stream","func":"msg.desiredStartSequenceNumber = msg.payload.storageStatus.newestSequenceNumber;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":720,"wires":[["04f2826864c51f1d"]]},{"id":"855e218a51a8cda7","type":"function","z":"46d73083c16c56e3","name":"buffer to string","func":"msg.payload.payload = msg.payload.payload.toString(\"utf-8\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":320,"wires":[["7a506ae62802c887"]]},{"id":"b537301847f9d4b0","type":"stream-config","streamName":"test","strategyOnFull":"OverwriteOldestData","maxSize":"","streamSegmentSize":"","flushOnWrite":false,"name":""},{"id":"ed669fbcb3e48ce9","type":"stream-config","streamName":"persistence","strategyOnFull":"OverwriteOldestData","maxSize":"1024","streamSegmentSize":"1024","flushOnWrite":true,"name":"persistence"}]